@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&');


body {

    background-color: rgb(214, 231, 196);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(72, 82, 63);
       
}


.container {

  margin: auto;
  margin-top: 45px;
  margin-bottom: 17px;
  max-width: 750px;
  min-width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;     
}


#me {
  
  margin: auto;
  max-width: 350px; 
  min-width:125px;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 20px;
 
}


#me-image {
  padding: 20px 0px 20px 0px;
  width:155px;
  margin-top: 15px;
  scale: 120%;
  animation: world .7s infinite;
  opacity: 1;
  
  
}

section {
background-image: url(../img/Matrix.png);
border-radius: 4% 4% 4% 4%;
padding: 8px 25px 28px 25px;
max-width: 650px; 
min-width:250px;
height: 397px;
color: rgb(214, 231, 196);
text-align: center;
box-shadow: .2px .2px 5px rgb(72, 82, 63) ;
margin-bottom:45px ;
}

#msg {
    color: rgb(196, 230, 196);
    font-size: 1.5em;
    max-width: 750px;
    text-shadow: 2px 2px 3px black;
    height: 60px;
    overflow: hidden;
    white-space: nowrap; 
    margin-bottom: 5px;
    margin-top: 7px;
    font-weight: bolder;
}
#msg span {
    display: inline-block;
    animation: msg 7s linear infinite;
    
 }

  @keyframes msg {
    0% {
      transform: translate(100%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  #me {

    text-align: center;
    margin:auto;
    margin-top: -20px;
    background-size: cover;
    background-position: center; 
    
  }

#img {
    width: 250px;
    height: 250px;
    padding-top: 2%;
    margin-bottom: .5%;
    margin-top: 5px;
    
    
      
    } 

#right {

float: left;


}

#left { 

    float: right;
    
}

#left , #right {
  padding-top: 12px;
  
  font-size: 1.2em;
  color: rgb(196, 230, 196);
  text-shadow: 2px 2px 3px black;
  font-weight: 700;
  
 
  
  
}

#link {
margin-bottom: 35px;
}

 p {
  
  margin-top:-10px;
  color:rgb(196, 230, 196);
  font-family: "Kalam", cursive;
  font-size: 1.2em;
  
  text-align: center;
  margin-bottom: 10px;
  
  
  
  
}

 p a {
    
    text-decoration: none;
    color:rgb(196, 230, 196);
    font-size: .89em;
    font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
 
  
  
  
}

 p a:hover {
  color:rgb(196, 230, 196);
  background-color: black;
  font-size: 1.1em;
  
  text-shadow: 2px 2px 3px black;
  padding: 7px;
  border-radius: 22px;
  transition: 2s;
  
}

@keyframes world {
  0% {
    transform:translateY(0%);
    display: none;
    
  }

  100% {
    transform: translateY(-5%);
   
 
}

}

@media screen and (max-width:768px) {
  .container {
    margin: 0 5%;
  }
}


